}
#about-us{
  min-height: 80vh;
  display: flex;
  align-items: center;
}
#about-us .content{
  padding: 40px 50px 70px;
  max-width: 100%;
  background-color: grey;
}
.d-flex{
  display: flex !important;
}
.landing{
  background-image: url("../images/pizza.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
.text a{
  font-size: 20px;
  font-weight: 700;
}
.text h5{
  font-size: 25px;
  padding: 30px;
}
.button{
  border-radius: 10px;
}
.card-title{
  text-align: center;
  color: green;
  font-weight: 800;
}
.controls-top h2{
  color: rgb(5, 172, 5);
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
#about-us{
  min-height: 70vh;
  align-items: center;

}
.about-pic {
  background-color: #ffa500;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#about-us .content{
  padding: 65px 50px 85px;
  width: 100%;
  background-color: #ffa500;
  float:right;
  text-align: justify;
  overflow-x: hidden;
}
.d-flex{
  display: flex !important;
}
.arrow
{
  position: relative;
  left: 50%;
  top: 90%;
  margin-left:-20px;

}
