
#about-us{
  min-height: 80vh;
  display: flex;
  align-items: center;
}
#about-us .content{
  padding: 40px 50px 70px;
  max-width: 100%;
  background-color: red;
}
.d-flex{
  display: flex !important;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  /* overflow-x: hidden; */
}
#head{
  padding-top: 10%;
}
nav .navbar{
  width: 99%;
  padding-right: 0px;
}
.navbar-brand{
  margin-right: 30%;
  font-weight:800;
}
.nav-item a{
  /* padding-right: 50px; */
  font-size: 20px;
  font-weight: 700;
}
.landing{
  background-image: url("../images/pizza.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
